.development {
    margin: 30px;
    width: 200px;
    margin: 30px auto;
    background-color: rgb(205, 202, 50);
    height: 60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.eer_page_title {
    text-align: center;
}

.eer_rates {
    width: 80%;
    height: 450px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

.rate-container {
    display: flex;
    width: 150px;
    margin: 10px 0px;
    /* justify-content: space-between; */
}
.pair-key, .pair-value{
    width: 50%;
}

.euro-chart-options {
    display: flex;
    margin: 10px auto;
}

@media (max-width: 449px) {
    .eer_rates {
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }
}

@media (max-width: 769px) and (min-width: 450px) {
    .eer_rates {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }
}