.gdp_page_title {
    margin: 20px auto;
    font-size: 25px;
    text-align: center;
}

.gpdControls {
    display: flex;
    justify-content: center;
}

.gdp_chart {
    margin-top: 50px;
    justify-content: center;
    display: flex;
}

.MuiPopover-paper {
    background-color: tomato;
}

/* MuiMenu-paper MuiPopover-paper MuiPaper-elevation8 MuiPaper-rounded */