body {
  background-color: rgb(221, 221, 221);
}


.bg_shadow {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
.front_shadow {
  -webkit-box-shadow:0 3px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 3px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 3px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.bg_common {
  border-radius: 5px;
  background-color: white;
  z-index: 0;
}
.front_common {
  border-radius: 5px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  color: white;
  position: absolute;
}

/* .highcharts-color-0 {
  color: white;
}
.highcharts-tracker-line {
  stroke: white;
  stroke-width: 3px;
}
.highcharts-background {
  fill: transparent;
} */